$montserrat-thin: 'Monstserrat-Thin', sans-serif;
$montserrat-normal: 'Montserrat', sans-serif; 
$montserrat-bold: 'Monstserrat-Bold', sans-serif;

$retronoid-normal: 'Retronoid', sans-serif;
$retronoid-bold: 'Retronoid-Bold', sans-serif;