@font-face {
    src: url("../assets/fonts/RetronoidBold.woff2");
    font-family: 'Retronoid-Bold';
}

@font-face {
    src: url("../assets/fonts/MontserratRegular.woff2");
    font-family: 'Montserrat';
}

@font-face {
    src: url("../assets/fonts/MontserratBold.woff2");
    font-family: 'Montserrat-Bold';
}

#profile-main {
    background: 
        url(../assets/images/FondoPatron_4000x4000.png) repeat,
        #1B1D36;
    animation: moverFondo 1250s linear infinite;
    background-position: 50% 50%;
    background-blend-mode: soft-light;
}


h1 {
    font-family: "Retronoid-Bold";
}


input {
    font-family: "Montserrat-Bold";
}

label {
    font-family: "Montserrat";
}

#profile-submit-button {
    font-family: "Montserrat";
    transition: all 0.6s;
}

#profile-submit-button:hover {
    background-color: #FFB8DE;
}
